{% extends 'base.html.twig' %}

{% block body %}
    
    <div id="about" class="container">
        <span id="aboutHeading">About Me</span>
        <hr class="hr">
        <div class="row">
            <div id="aboutDescription" class="col-md-8">              
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non scelerisque ante. Suspendisse ultrices nunc non neque sollicitudin, et cursus nibh pulvinar. Morbi nec ante vel dolor porttitor sollicitudin. Phasellus sit amet aliquet metus. Mauris vel quam metus. Curabitur sed mi ullamcorper, maximus risus gravida, laoreet enim. Praesent condimentum erat sit amet diam tempor aliquet. Aliquam laoreet consequat nulla pellentesque ullamcorper. Aliquam ut velit a eros hendrerit bibendum. Vivamus a ultricies tortor, id convallis neque.
            Fusce iaculis dolor nisl, id vehicula diam egestas ac. Donec ac mollis odio. Aenean tristique massa non nunc auctor varius id non dolor. Ut sit amet risus hendrerit odio placerat vestibulum eu a diam. Fusce nunc lectus, mattis ac consequat sed, interdum eu turpis. Donec venenatis ante pulvinar justo porttitor, sed facilisis sapien congue. Proin a magna vulputate, fringilla quam et, viverra turpis. Curabitur dignissim blandit velit at pellentesque. Maecenas vitae finibus quam. Pellentesque vehicula, massa eget ornare sagittis, purus enim dignissim libero, sed maximus ligula est eget dolor. Morbi imperdiet sapien vitae dolor posuere, quis tempor sapien ullamcorper. Duis luctus sollicitudin risus, in tempor tortor aliquet ac. Vestibulum nec ultricies nisl. 
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{asset('images/programmer-1835333_640.png')}}">
            </div>          
        </div>
    </div>

{% endblock %}